{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier/react"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [0, { "extensions": [".js"] }]
  }
}
